@value Mono1, Mono5, TxtOpacity1, Acolor4, Acolor3, Bcolor3, Acolor1, Bcolor5 from './common/color.css';

.abilities {
    width: 100vw;
    height: 100vh;
    padding: 0 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
}

.title {
    position: absolute;
    top: 1em;
    font-size: 3em;
    text-align: center;
    font-family: 'ColorsOfAutumn';
    font-weight: normal;
    text-shadow: rgba(0, 0, 0, 0.3) 0.03em 0.03em 0.03em;

    color: Bcolor5;
}

.graph {
    width: 50%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}

.graph li {
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

.graph li h2 {
    line-height: 5vh;
    font-size: 1.3rem;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: normal;
    width: 7em;
    text-align: center;
    border-radius: 1em 1em 0 0;
    background: Acolor1;
    box-shadow: 0.1em 0em 0.1em rgba(0, 0, 0, 0.2);
    color: Bcolor5;
}

.graph li div {
    width: 35%;
    transition: 1.5s;
    border-radius: 1em 1em 0 0;
    box-shadow: 0.3em 0em 0.5em rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.hidden {
    height: 0;
}

.frontEnd div {
    background: Acolor4;
}
.frontEnd .appear {
    height: 80vh;
}

.backEnd div {
    background: Acolor3;
}
.backEnd .appear {
    height: 40vh;
}

.design div {
    background: Bcolor3;
}
.design .appear {
    height: 70vh;
}

.meta {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    color: Mono1;
}

.meta div {
    width: 27em;
    padding: 0.5em 1em 1.3em 1em;
    border-radius: 0.5em;
    background: rgba(256, 256, 256, 0.5);
    box-shadow: rgba(0, 0, 0, 0.2) 0.2em 0.2em 0.4em;
}

.meta div h2 {
    margin: 0 0 0.1em 0.3em;
    opacity: TxtOpacity1;
    font-family: 'Baloo Thambi 2', cursive;
}

.meta div pre {
    opacity: TxtOpacity1;
    font-weight: 500;
}