@value Line1, Mono1, Mono5, TxtOpacity1, Acolor4, Acolor3, Acolor2, Acolor1 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

.abilities {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

.title {
    position:absolute;
    top: 1em;
    color: #ffffff;
    font-family: 'ColorsOfAutumn';
    font-weight: normal;
    text-shadow: #8dffc8 0.03em 0.03em 0.03em;

    font-size: 3rem;
}

.graph {
    width: 50vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
    align-items: flex-end;
}

.graph li {
    width: 25%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

.graph li h2 {
    line-height: 5vh;
    font-size: 1.3rem;
    font-weight: 500;
    width: 7em;
    text-align: center;
    border-radius: 1em 1em 0 0;
    box-shadow: 0.1em 0em 0.1em rgba(0, 0, 0, 0.2);
    color: #ffffff;
}

.graph li div {
    width: 35%;
    transition: 1.5s;
    border: Line1;
    border-bottom: none;
    border-top: 1rem solid #000000;
    box-shadow: 0.3em 0em 0.5em rgba(0, 0, 0, 0.2);
    background: #ffffff;
    overflow: hidden;
}

.hidden {
    height: 0;
}

.frontEnd h2 {
    background: Acolor3;
}
.frontEnd .appear {
    height: 80vh;
}

.backEnd h2 {
    background: Acolor2;
}
.backEnd .appear {
    height: 40vh;
}

.design h2 {
    background: Acolor1;
}
.design .appear {
    height: 70vh;
}

.meta {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    color: #000000c0;
}

.meta div {
    width: 27em;
    padding: 0.5em 1em 1.3em 1em;
    border-radius: 0.5em;
    background: rgba(256, 256, 256, 0.8);
    box-shadow: rgba(0, 0, 0, 0.2) 0.2em 0.2em 0.4em;
}

.meta div h2 {
    margin: 0 0 0.1em 0.3em;
    font-size: 1.3rem;
}

.meta div pre {
    font-weight: 500;
}
@media (max-width: Mobile1) {
    .abilities {
        width: 200vw;
    }

    .graph {
        width: 100vw;
    }

    .meta {
        width: 100vw;
    }
    
    .title {
        top: 2em;
        left: 50vw;
        transform: translateX(-50%);
    }
}

@media (max-width:  Mobile2) {
    .graph li div {
        width: 60%;
    }
}