.about {
    position: relative;
    transition: 0.2s;
    background: darkkhaki;
    z-index: 1;
}

.default {
    margin: 4em 0 0 0;
    width: 200px;
    height: 300px;
}
.click {
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
}

.wave {
    width: 100%;
    height: 100%;
}

.contentsBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column wrap;
    
    opacity: 0;
    transition: 1s;
}

.btnBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.disappear {
    pointer-events: none;
    transition: 0.5s;
    opacity: 0;
}
.appear {
    pointer-events: inherit;
    transition: 1s;
    opacity: 1;
}

.close {
    position: absolute;
    top: 1em;
    right: 1em;
}
.left {
    margin: 0 0 0 1em
}
.right {
    margin: 0 1em 0 0;
}