@value Bcolor5, Acolor2, Bcolor1, TxtOpacity2 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

@keyframes arrowNotice {
    from {
        width: 3rem;
        fill: Bcolor5;
    }
    to {
        width: 3.5rem;
        fill: Bcolor1;
    }
}

@keyframes closeNotice {
    from {
        color: Bcolor5;
        font-size: 2rem;
    }
    to {
        color: Bcolor1;
        font-size: 2.5rem;
    }
}

.about {
    position: relative;
    transition: 0.8s;
    background: linear-gradient(50deg, Acolor2 10%, #ffffff40 30%, Acolor2 40%, Acolor2 100%);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;

    border: 0.125rem solid #ffffff20;
    padding: 0.3rem;
    border-radius: 0.2rem 0.2rem 1rem 1rem;
    border-top: none;
}

.default canvas {
    border-radius: 0 0 0.8rem 0.8rem;
}

.click canvas {
    border-radius: none;
}


.about:hover .aboutMe {
    top: 50%;
}
.default {
    margin: 4em 0 0 0;
    width: 12.5rem;
    height: 18.75rem;
    cursor: pointer;
}
.click {
    margin: 0 0 0 0;
    width:max-content;
    width: 100vw;
    height: 100vh;
    cursor: default;
    padding: 0;
    border-radius: 0;
    border: none;
}

.aboutMe {
    position: absolute;
    font-size: 1.8rem;
    font-family: 'ColorsOfAutumn';
    font-weight: normal;
    top: 1rem;
    color: Bcolor5;
}

.contentsBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;

    display: flex;
    flex-flow: column wrap;
    
    opacity: 0;
    transition: 1s;
}

.disappear {
    pointer-events: none;
    transition: 0s;
    opacity: 0;
}
.appear {
    pointer-events: inherit;
    transition: 1.4s;
    opacity: 1;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
.click .btn {
    animation-delay:1s;
    animation-duration: 0.4s;
    animation-iteration-count: 6;
    animation-direction: alternate;
}
.click .arrow {
    animation-name: arrowNotice;
}
.click .close {
    animation-name: closeNotice;
}


.close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-family: 'ColorsOfAutumn';
    font-size: 2rem;
    font-weight: bolder;
    transform: skewX(30deg);
    color: Bcolor5;
    user-select: none;
}
.close:hover {
    color : Bcolor1;
    font-size: 2.5rem;
}

.arrow {
    width: 3rem;
    fill: Bcolor5;
}
.arrow:hover {
    width: 3.5rem;
    fill: Acolor2;
}
.left {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%) rotateZ(-90deg);
}
.right {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%) rotateZ(90deg);
}
.notice {
    font-family: 'Times New Roman', Times, serif;
    opacity: TxtOpacity2;
}

@media screen and (max-width: Laptop) {
}

@media screen and (max-width: Tablet) {
}

@media screen and (max-width: Mobile1) {
    .default {
        margin: 6rem 0 0 0;
        width: 12.5rem;
        height: 16rem;
        cursor: pointer;
    }
}

@media screen and (max-width: Mobile2) {
}
