@value Mono1, Acolor2, Bcolor5, Bcolor1, TxtOpacity2 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

.prsHome {
    position: relative;
}

.prism {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.controller {
    width: 10rem;
    height: 8rem;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 10%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    left: 50%;
    text-align: center;
}

.heights {
    color: #000000;
    padding: 0.5em;
    background: Bcolor5;
    border-radius: 1em 1em 0 0;
    font-weight: 300;
}
.heights h3 {
    font-weight: 300;
}
.heights h4 {
    font-weight: 300;
}

.btns {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.btns h3 {
    font-size: 1.5em;
    width: 2em;
    line-height: 2em;
    border-radius: 100%;
    background:#00000030;
    color: #00000080;
    cursor: pointer;
    user-select: none;
}

.btns h3:hover {
    background: #ffffff50;
}

@media (orientation: landscape) and (max-width: Laptop) {
    .prsHome {
        font-size: 0.9rem;
    }
}

@media (orientation: landscape) and (max-width: Tablet) {
    .prsHome {
        font-size: 0.7rem;
    }
}


@media (orientation: portrait) and (max-width: Tablet) {
    .prsHome {
        font-size: 0.5rem;
    }
}

@media (orientation: portrait) and (max-width: Mobile1) {
    .prsHome {
        font-size: 0.5rem;
    }
}
