@value Acolor1, Acolor2, Acolor3, Acolor4, Acolor5, Bcolor1, Bcolor2, Bcolor3, Bcolor4, Ccolor1, Mono1, Mono2, Mono3, Mono4, Mono5, TxtOpacity1, TxtOpacity2, Line1 from './common/color.css';

.container {
    width: 40%;
    height: 40%;
    min-width: 300px;
    max-width: 40rem;
    max-height: 50rem;
    border-radius: 3rem;
    padding: 3rem;
    background: Mono5;
    box-shadow: 0.5rem 0.5rem 1rem #00000050;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    color: #000000b0;
}

.tel {
    color : #003ca6;
    font-weight: 500;
    font-size: 1.3rem;
}

.tel span {
    font-size: 1rem;
}

.ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.li {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #003ca650;
    color: Mono5;
    transition: 0.3s;
    cursor: pointer;
}
.li:hover {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #003ca6;
    color: Mono5;
}

.li:after {
    position: absolute;
    content: 'Copied!';
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: Mono5;
    border: 2px solid #003ca6;
    color: #003ca6;
    opacity: 0;
}