@value Line1, Bcolor1, Acolor1, Acolor2 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

.header {
    position: fixed;
    z-index: 3;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    transition: 0.5s;
}

.aboutFalse {
    right: 0;
    transform: translateX(0%);
}

.aboutTrue {
    right: 100%;
    transform: translateX(100%);
}

.viewFalse {
}

.viewTrue {
    flex-flow: column;
    transition: 0.5s;
    background: #000000;
}

.btn {
    width: 9rem;
    height: 4rem;
    border-left: Line1;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.aboutTrue .btn {
    border-left: none;
}

.viewTrue .btn a {
    color : #ffffff;
}

.aboutTrue .btn a {
    color: #ffffff;
}


.header a {
    font-size: 1.2rem;
    text-align: center;
    border-radius: 0.2rem;
    color: #000000;
    font-weight: 500;
    z-index: 4;
    transition: 1s;
}

.btn:hover a {
    color: #ffffff;
}