@value Bcolor1, Acolor1, Acolor2 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

.header {
    position: fixed;
    z-index: 3;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 27rem;
    padding: 1.5rem 0;
    gap: 1rem;
    transition: 0.5s;
}
.header div {
    width: 7rem;
    height: 3.5rem;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.header svg {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s;
}

.header svg path {
    transition: 1s;
}

.header a {
    font-size: 1.4rem;
    text-align: center;
    border-radius: 0.2rem;
    color: #00000080;
    font-family: 'LeagueScript';
    font-weight: bolder;
    z-index: 4;
    transform: skewX(20deg);
    transition: 1s;
}

.viewFalse div:hover path {
    fill: Bcolor1;
}

.header div:hover a {
    color: #ffffff;
}

.aboutFalse {
    right: 0;
    transform: translateX(0%);
}

.aboutFalse path {
    stroke: Bcolor1;
}

.aboutTrue {
    right: 100%;
    transform: translateX(100%);
}

.aboutTrue path {
    stroke : #ffffff;
}

.viewTrue {
    background : Bcolor1;
    flex-flow: row wrap;
    width: 10rem;
    margin: 2rem 0 0 0;
    border-radius: 1rem 0 0 1rem;
    transition: 0.5s;
}

.viewTrue path {
    stroke : #ffffff;
    flex-flow: row wrap;
    width: 10rem;
    margin: 2rem 0 0 0;
    border-radius: 1rem 0 0 1rem;
    transition: 0.5s;
}

.viewTrue div:hover path {
    fill: #ffffff;
}

.viewTrue a {
    color: #ffffff;
}

.viewTrue div:hover a {
    color: Bcolor1;
}