.introContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.dtd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    font-size: 1.5rem;
    opacity: 0.7;
}

.dtdHolder {
    width: 10em;
    position: absolute;
}

.dtdHolder svg {
    stroke-linejoin: round;
    stroke: #303030;
    fill: none;
}

.dtdHolder rect {
    stroke: none;
}

.buttonContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2em;
}

.buttonContainer button {
    border: none;
    cursor: pointer;
}
.notice {
    text-align: center;
    color: #00000080;
    font-weight: 400;
}
.btnF11 {
    font-size: 1.5rem;
    background: #003ca6;
    color: #ffffff;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 3px 3px 4px #00163d50;
    font-weight: 700;
    transition: 0.3s;
}
.btnF11:hover {
    background: #ffffff;
    color: #003ca6;
}

.btnNo {
    background: #00000010;
    padding: 1em;
    border-radius: 1em;
    color: #00000050;
    box-shadow: 1px 1px 3px #00000030;
    transition: 0.3s;
}
.btnNo:hover {
    background: #ffffff;
    color: #303030;
}
.h6 {
    color: #00000050;
}
.d1 {
    animation: d1Ani 3s forwards
}
.t1 {
    animation: t1Ani 3s forwards
}
.e1 {
    animation: e1Ani 5s forwards
}
.d2 {
    animation: d2Ani 3s forwards
}
.d2 circle {
    animation: d2CircleAni 3s forwards
}


.l1 {
    animation: l1Ani 1s forwards
}
.l2 {
    animation: l2Ani 1s forwards
}
.n1 {
    animation: n1Ani 1s forwards
}

.rect1 {
    animation: rect1Ani 5s forwards
}
.rect2 {
    animation: rect2Ani 5s forwards
}
.rect3 {
    animation: rect3Ani 5s forwards
}

@keyframes d1Ani {
    0% {
        transform: translate(-16em);
    }
    30% {
        transform: translate(-16em);
    }
    100% {
        
    }
}
@keyframes t1Ani {
    0% {
        transform: translate(0);
    }
    30% {
        transform: translate(0);
    }
    100% {
        
    }
}
@keyframes e1Ani {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes d2Ani {
    0% {
        transform: translate(16em);
    }
    30% {
        transform: translate(16em);
    }
    100% {
        
    }
}

@keyframes d2CircleAni {
    0% {
        cx: 50.5;
        cy: 50.5;
        r: 50;
        fill: #00000000;
    }
    30% {
        cx: 50.5;
        cy: 50.5;
        r: 50;
        fill: #00000000;
    }
    100% {
        fill: #303030;
    }
}

@keyframes l1Ani {
    0% {
        transform: translate(-6em);
    }
    30% {
        transform: translate(-6em);
    }
    100% {
        transform: translate(0, -90%) scale(0.6);
    }
}

@keyframes l2Ani {
    0% {
        transform: translate(5.5em);
    }
    30% {
        transform: translate(5.5em);
    }
    100% {
        transform: translate(0, -90%) scale(0.6);
    }
}

@keyframes n1Ani {
    0% {
        transform: translate(14.5em, 4.6em);
    }
    30% {
        transform: translate(14.5em, 4.6em);
    }
    100% {
        transform: translate(0, -90%) scale(0.6);
    }
}

@keyframes rect1Ani {
    0% {
    }
    60% {
        fill: #003ca600;
    }
    100% {
        fill: #003ca6;
    }
}
@keyframes rect2Ani {
    0% {
    }
    60% {
        fill: #ffff0000;
    }
    100% {
        fill: #ffff00;
    }
}
@keyframes rect3Ani {
    0% {
    }
    60% {
        fill: #ff000000;
    }
    100% {
        fill: #ff0000;
    }
}