@value Mono5 from './common/color.css';

.container {
    width: 40%;
    height: 70%;
    min-width: 300px;
    max-width: 40rem;
    max-height: 50rem;
    border-radius: 3rem;
    padding: 0 3rem;
    background: #ffffff;
    box-shadow: 0.5rem 0.5rem 1rem #00000050;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.iconContainer {
    width: 50%;
    max-width: 10rem;
}
.iconContainer svg {
    fill: #003ca650;
}

.mailForm {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

.mail {
    padding: 1rem;
    font-size: 0.9rem;
    border-radius: 2rem;
    border: none;
    background: #ebeff2;
    color: #000000b0;
    width: 100%;
    max-width: 50rem;
}

.mailTxt {
    height: 30vh;
    max-height: 10rem;
}

.mailSubmit {
    background: #003ca6;
    color: #ffffff;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    box-shadow: 0rem 0rem 0rem #003ca6;
}

.mailSubmit:hover {
    box-shadow: 0.5rem 0.5rem 0.5rem #003ca6;
    background: #ffffff;
    color: #003ca6;
}