@value Acolor1, Acolor2, Acolor4, Bcolor1, Bcolor2, Bcolor5 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

@keyframes AnimationName {
    0%{background-position:100% 0%}
    20%{background-position:60% 100%}
    40%{background-position:0% 0%}
    60%{background-position:50% 100%}
    80%{background-position:100%  0%}
    100%{background-position:80% 100%}
}

.lineBG {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

.lineBG path {
    stroke: Acolor2;
    position: absolute;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    background:
        radial-gradient(at top, Acolor4, transparent),
        radial-gradient(at top right, Acolor4, transparent),
        radial-gradient(at top left, #e1e6c350, transparent, transparent),
        linear-gradient(70deg, #a065b3, #829ba0, Acolor2, Bcolor1, Acolor1, #8291a0, Bcolor1, #9c6a3e, #e395de, Acolor1)
    ;
    background-size: 250% 250%;
    animation: AnimationName 10s ease alternate infinite;
}

.con1 {
    position: absolute;
    left: 0;
    height: 100vh;
    background-color: Acolor2;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    transition:ease 0.8s;
}
.con2 {
    position: absolute;
    right: 0;
    height: 100vh;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    transition:ease 0.8s;
}
.con1_x {
    width: 30vw;
}
.con2_x {
    width: 70vw;
    opacity: 1;
}

.con1_y {
    width: 100vw;
}
.con2_y {
    transform: translateX(200vw);
}

.desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    background: linear-gradient(Bcolor2, Acolor2);
    text-align: center;
    font-size: 0.8rem;
    line-height: 2rem;
    font-weight: 300;
    color: #ffffffa0;
    z-index: 0;
    transition: 0.5s;
}

.plant {
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    width: 10rem;
    opacity: 0.6;
    z-index: 0;
    transition: 0.5s;
}

.hidden {
    opacity: 0;
}


@media (orientation: portrait) {
    .con1_x {
        width: 100vw;
        height: 40vh;
        top: 0;
    }
    .con2_x {
        width: 100vw;
        height: 60vh;
        bottom: 0;
    }
    .con2_y {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
}