@value Acolor2, Acolor4 from './common/color.css';

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.con1 {
    position: relative;
    float: left;
    height: 100%;
    background-color: Acolor2;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
    transition: 0.8s;
}
.con2 {
    position: relative;
    float: left;
    height: 100%;
    background: Acolor4;

    /* display: flex;
    justify-content: center;
    align-items: center; */
    
    transition: 0.8s;
}

.con1_x {
    width: 30%;
}
.con2_x {
    width: 70%;
    opacity: 1;
}

.con1_y {
    width: 100%;
}
.con2_y {
    width:  0;
    opacity: 0;
}