@value Mono1, Mono5, Bcolor5, TxtOpacity1 from './common/color.css';

.me {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:flex-end;
}

.title {
    position: absolute;
    top: 1em;
    color: Bcolor5;
    font-family: 'ColorsOfAutumn';
    font-weight: normal;
    text-shadow: rgba(0, 0, 0, 0.3) 0.03em 0.03em 0.03em;

    font-size: 3rem;
}

.profilePic {
    height: 70%;
    user-select: none;
}

.profileMeta {
    height: 34rem;
    margin: 3rem 5rem 3rem 10rem;
    color: Mono1;
    opacity: TxtOpacity1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.profileMeta h3 {
    margin-bottom: 0.3em;
    font-size: 1.3rem;
    font-family: 'Baloo Thambi 2', cursive;
    user-select: none;
}

.profileMeta p {
    font-size: 1.1rem;
}

.profileMeta span {
    font-size: 0.8em;
}

.aboutMe {
    height: 34rem;
    margin: 3rem 0;
    color: Mono1;
    opacity: TxtOpacity1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: baseline;
    user-select: none;
}

.aboutMe h3 {
    font-size: 1.3rem;
    font-family: 'Baloo Thambi 2', cursive;
    margin-bottom: 0.3em;
}

.aboutMe div {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    font-weight: 500;
}