@value Mono1, Mono5, Bcolor5, TxtOpacity1 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

.me {
    width: 100vw;
    height: 100vh;
    padding: 0 2rem;
    position: relative;

    gap: 5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:flex-end;
}
.title {
    position:absolute;
    top: 1em;
    color: Bcolor5;
    font-family: 'ColorsOfAutumn';
    font-weight: normal;
    text-shadow: rgba(0, 0, 0, 0.3) 0.03em 0.03em 0.03em;

    font-size: 3rem;
}

.profileMeta {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5rem;
}

.profilePic {
    height: 40rem;
    user-select: none;
}

.personalInfo {
    color: Mono1;
    opacity: TxtOpacity1;

    margin: 1rem 0 0 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 3rem;
}

.personalInfo h3 {
    margin: 0 0 0.3em 0.1em;
    font-size: 1.3rem;
    font-family: 'Baloo Thambi 2', cursive;
    user-select: none;
}

.personalInfo p {
    font-size: 1.1rem;
    width: 100%;
}

.personalInfo span {
    font-size: 0.8em;
}

.aboutMe {
    height: 40rem;
    color: Mono1;
    opacity: TxtOpacity1;

    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    justify-content: baseline;
    user-select: none;
}

.aboutMe h3 {
    font-size: 1.3em;
    font-family: 'Baloo Thambi 2', cursive;
}

.aboutMe div {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    gap: 1.5em;
    font-weight: 500;
}


@media (max-width: Tablet) {
    .me {
        width: 200vw;
    }
    .profileMeta {
        width: 100vw;
    }
    .aboutMe {
        width: 100vw;
        align-items: center;
        text-align: center;
        font-size: 1.1rem;
    }
    .title {
        top: 2em;
        left: 50vw;
        transform: translateX(-50%);
    }
}

@media (max-width:  Mobile1) {
    .profilePic {
        position: absolute;
        bottom: 0;
        left: -10%;
        height: auto;
        width: 70%;
    }
    
    .personalInfo {
        position: absolute;
        bottom: 0;
        right: 0;
        color: Mono1;
        opacity: TxtOpacity1;
        text-align: right;
    
        margin: 2rem;
        gap: 2rem;
        width: 50%;
    }
}