@value Mono1, Mono5, Bcolor5, TxtOpacity1 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

.me {
    width: 100vw;
    height: 100vh;
    padding: 0 2rem;
    position: relative;

    gap: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items:flex-end;
}

.title {
    position: absolute;
    top: 1em;
    color: Bcolor5;
    font-family: 'ColorsOfAutumn';
    font-weight: normal;
    text-shadow: rgba(0, 0, 0, 0.3) 0.03em 0.03em 0.03em;

    font-size: 3rem;
}

.profilePic {
    height: 70%;
    user-select: none;
}

.profileMeta {
    gap: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.profileBtn {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    font-family: "ColorsOfAutumn";
    font-weight: bold;
    color: Mono1;
    opacity: TxtOpacity1;
    transform: skewX(30deg);
}

.profileMeta .profileBtn:hover {
    color: Mono5;
}

.personalInfo {
    height: 34rem;
    color: Mono1;
    opacity: TxtOpacity1;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.personalInfo h3 {
    margin: 0 0 0.3em 0.1em;
    font-size: 1.3rem;
    font-family: 'Baloo Thambi 2', cursive;
    user-select: none;
}

.personalInfo p {
    font-size: 1.1rem;
}

.personalInfo span {
    font-size: 0.8em;
}

.aboutMe {
    height: 34rem;
    color: Mono1;
    opacity: TxtOpacity1;

    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: baseline;
    user-select: none;
}

.aboutMe h3 {
    font-size: 1.3rem;
    font-family: 'Baloo Thambi 2', cursive;
}

.aboutMe div {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    font-weight: 500;
}


@media screen and (max-width: Laptop) {
    .profilePic {
        height: 60%;
    }

    .personalInfo {
        height: 32rem;
    }

    .aboutMe {
        height: 32rem;
    }
}

@media screen and (max-width: Tablet) {
    .title { top: 2em; }

    .me {
        gap : 1rem;
    }

    .profileMeta {
        gap: 2rem;
        flex-flow: column nowrap;
    }

    .personalInfo {
        height: 28rem;
        padding: 0 1rem;
    }

    .personalInfo h3 {
        margin: 0;
        font-size: 1.3rem;
        font-family: 'Baloo Thambi 2', cursive;
        user-select: none;
    }
    
    .aboutMe {
        height: auto;
        color: Mono1;
        opacity: TxtOpacity1;
    
        display: flex;
        flex-flow: column nowrap;
    }
    
    .aboutMe h3 {
        padding: 0 1rem;
    }

    .aboutMe div {
        height: 5.5rem;
        overflow: scroll;
        display: block;
        font-weight: 500;
        border-radius: 1rem;
        box-shadow: 0.1em 0.1em 0.3em Mono1;
    }

    .aboutMe div pre {
        padding: 0.5rem 1rem 0.5rem 1rem;
    }
    
}

@media screen and (max-width: Mobile1) {
    .profileMeta {
        position: absolute;
        background: #ffffff50;
        padding: 2rem 1rem;
        margin-bottom: 3rem;
        border-radius: 1rem; 
    }
}

@media screen and (max-width: Mobile2) {
}
