@value Line1, Bcolor1, Acolor2, Ccolor1 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

/* .portfolio {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.column {
    width: 100%;
}
.column1 {
    border-bottom: Line1;
    height: Calc(4rem - 2px);
}
.column2 {
    flex: auto;

    display: flex;
    flex-flow: row nowrap;
}
.row {
    height: 100%;
}
.row0 {
    width: Calc(24rem + 4px);
    border-left: Line1;
    background: Bcolor1;
    float: right;
    margin-right: Calc(27rem - 4px);
}
.row1 {
    flex: 1 1 0;
    
    display: flex;
    flex-flow: row nowrap;
}
.row2 {
    flex: 0 0 Calc(27rem - 2px);
    border-top: 2px solid #000000;
    border-left: 4px solid #000000;
    background: url('./dune.jpg') no-repeat;
    background-size: cover;
}
.row3 {
    flex: auto;
}
.row4 {
    width: Calc(24rem + 2px);
    border-left: Line1;

    display: flex;
    align-items: center;
}



.prismCont {
    width: 100%;
    height: Calc(24rem + 4px);
    border-top: Line1;
    border-bottom: Line1;
}

.intro {
    margin: 3rem;
}
.name {
    font-size: 3rem;
    font-family: 'Megrim';
    margin: 0 0 0.7rem 0;
}
.occupation {
    font-size: 2.5rem;
    font-weight: 100;
    padding: 0.1rem 0;
}
.occupation:last-child::after {
    content: '';
    display: block;
    width: 100%;
    height: 1rem;
    border-bottom: Line1;
}
.clickThis {
    position: absolute;
    font-size: 2em;
    font-weight: 100;
    bottom: -2em;
    left: 1em;
}
.script {
    font-weight: 300;
    padding: 0 3rem;
} */

.portfolio {
    background: #000000;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:
        Calc(4rem - 2px)
        Calc(50% - 12rem)
        24rem
        auto
    ;
    grid-template-columns:
        auto
        24rem
        Calc(27rem - 4px)
        ;
    gap: 2px;
}
.grid {
    background: #ffffff;
}

.grid:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid:nth-child(2) {
    background: Bcolor1;
}
.grid:nth-child(6) {
    grid-row-start: 3;
    grid-row-end: 5;
}
.grid:nth-child(9) {
    grid-column-start: 2;
    grid-column-end: 4;
}

.anoPrismCont {
    background:Ccolor1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prismCont {
    background: Bcolor1;
}
.clickThis {
    position: absolute;
    padding: 2.5rem 3rem;
    font-size: 2em;
    font-weight: 100;
    opacity: 0.4;
}


.script {
    font-weight: 300;
    padding: 2.5rem 3rem;
    background: #f2f2f2;
}
.name {
    font-size: 2.5rem;
    font-family: 'Megrim';
    margin: 0 0 0.7rem 0;
}
.occupation {
    font-size: 2rem;
    font-weight: 300;
    padding: 0.1rem 0;
}
.occupation:nth-child(3):after {
    content: '';
    display: block;
    width: 100%;
    height: 1rem;
    border-bottom: 2px solid #000000;
}
.me {
    margin: 0.8rem 0 0 0;
    font-weight: 300;
}


.img {
    background: url('./dune.jpg') no-repeat;
    background-size: cover;
}
/* 
@media (orientation: landscape) and (max-width: Mobile1) {
    .anotherCircle { display: none;}
}

@media (orientation: portrait) and (max-width: Mobile1) {
    .anotherCircle {
        padding: 2em;
        margin: 7em 0 0 4rem;
    }
}

@media (orientation: portrait) and (max-width: Mobile2) {
    .anotherCircle { display: none;}
} */
