@value Line1, Bcolor1, Acolor2, Ccolor1 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

.portfolio {
    background: #000000;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:
        4em
        minmax(11em, auto)
        28em
        minmax(0, auto)
    ;
    grid-template-columns:
        minmax(0, auto)
        28em
        minmax(11em, 27em)
    ;
    gap: 2px;
}
.grid {
    background: #ffffff;
}

.grid:nth-child(1) {
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: hidden;
}
.grid:nth-child(2) {
    background: Bcolor1;
}
.grid:nth-child(8) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid:nth-child(6) {
    grid-row-start: 3;
    grid-row-end: 5;
    overflow: hidden;
}
.grid:nth-child(9) {
    grid-column-start: 2;
    grid-column-end: 4;
}

.dtdLogo {
    stroke-linejoin: round;
    stroke: #000000;
    fill: none;
    width: 15%;
    opacity: 0.3;
}

.anoPrismCont {
    background:Ccolor1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prismCont {
    background: Bcolor1;
}

.scriptContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.script {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'MapoFlowerIsland';
    font-size: 1.3rem;
    color: #00000050;
}
.script_1 {
    padding: 0 0.5rem 30% 0;
}
.script_2 {
    padding: 30% 0 0 0.5rem;
}
.duneImg {
    background: url("./img/dune-1.webp") no-repeat;
    background-size: cover;
}

@media (max-width: Laptop) {
    .portfolio {
        font-size: 0.9rem;
    }
}

@media (max-width: Tablet) {
    .portfolio {
        font-size: 0.8rem;
    }
}
