.btns {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: chartreuse;
}

.btn {
    width : 100px;
    overflow: hidden;
    transition : 0.5s;
    cursor: pointer;
    border: none;
    background: none;
}

.btn:nth-child(1) {
    margin: 0 0 0 100px;
    transform: rotateX(90deg) translateY(300px) rotateZ(-90deg);
}

.btn:nth-child(2) {
    margin: 0 100px 0 0;
    transform: rotateX(90deg) translateY(300px) rotateZ(90deg);
}

.btn iframe {
    width: 100px;
    border : none;
    pointer-events: none;
}