@value Mono1, Acolor2, Bcolor4, Bcolor1, TxtOpacity2 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

.prsHome {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
}

.prism {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: 0.4s;
}
.btn {
    position: absolute;
    width : 5em;
    font-size: 1em;
    transition : 0.3s;
    cursor: pointer;
    border: none;
    background: none;
    fill: Bcolor4;
}

.left {
    left: -30%;
    transform: rotateX(90deg) translateY(22.5em) translateZ(-7.5em) rotateZ(-90deg);
}

.right {
    right: -30%;
    transform: rotateX(90deg) translateY(22.5em) translateZ(-7.5em) rotateZ(90deg);
}


.btn:hover {
    width: 6em;
    fill: Bcolor1;
}