@value Bcolor5, Bcolor3 from './common/color.css';

.sqr {
    position : absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    user-select: none;
}
.h3 {
    font-family: 'LeagueScript';
    font-size: 1.5em;
    font-weight: normal;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.1em #00000050;
    margin-top: 2em;
}
.h2 {
    font-family: 'LeagueScript';
    font-size: 2.2em;
    font-weight: normal;
    transform: skewX(20deg);
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.1em #00000050;
    margin-bottom: 1em;
}


.li {
    margin: 0 0 2em 0;
    text-align: center;
}

.li a {
    transition: 0.3s;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 300;
    color: Bcolor3;
}

.li a:hover {
    font-size: 1.3em;
    font-weight: 500;
}