.threeD {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: 0.5s;
}

.x {
    transform : none;
}

.y {
    transform : rotateX(90deg) translateY(Calc(-100vh/2)) translateZ(Calc(-100vh/2));
}