@value Line1, Bcolor1, Bcolor5 from './common/color.css';
@value Laptop, Tablet, Mobile1, Mobile2 from './common/size.css';

.threeD {
    width: 100vw;
    height: 100vh;
    background: #000000;
    overflow: hidden;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.flat {
    perspective: none;
}

.solid {
    perspective: 200rem;
}

.screen {
    transform-style: preserve-3d;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
}

.screenX {
    transform: translate3d(0, 0, 0);
}

.screenY {
    transform : rotateX(90deg) translateY(Calc(-100vh/2)) translateZ(Calc(-100vh/2));
}

.screenZ {
    transform : rotateX(90deg) translateY(Calc(100vh/2)) translateZ(Calc(-100vh/2));
}

.header {
    position: absolute;
    z-index: 100;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    transition: 0.5s;
}
.header svg {
    stroke: #82878e;
    stroke-width: 8px;
    stroke-linecap: round;
    display: none;
    position: absolute;
}

.aboutFalse {
    right: 0;
    transform: translateX(0%);
}

.aboutTrue {
    right: 100%;
    transform: translateX(100%);
    color: #ffffff;
}

.headerX {
    margin: 2px;
}

.headerY {
    flex-flow: column;
    color: #ffffff;
    border: 2px solid #ffffff;
}

.headerZ {
    flex-flow: column;
    border: dotted 5px #000000;
}


.headerBtn {
    width: 9em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.headerX .headerBtn {
    border-left: Line1;
}
.aboutTrue .headerBtn {
    border-left: none;
}
.headerBtn:hover {
    background: #b8b8b850;
}
.headerBtn:nth-child(2) {
    border-left: none;
}

.actionContainer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    background: #6f6f6ff8;
    animation: actionAppear 0.5s;
    z-index: 1000;
}

.actionClose {
    border: none;
    outline: none;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: #ffffff;
    box-shadow: 0.5rem 0.5rem 1rem #00000050;
    transition: 0.3s;

    cursor: pointer;
}
.actionClose svg{
    padding: 1rem;
    stroke: #003ca6;
    transition: 0.3s;
    width: 100%;
}

.actionClose:hover {
    background: #003ca6;
    transform: rotateZ(90deg);
    box-shadow: 0.5rem -0.5rem 1rem #00000050;
}
.actionClose:hover svg {
    stroke: #ffffff;
}

@keyframes actionAppear {
    from {opacity: 0;}
    to {opacity: 1;}
}

@media (orientation: portrait) {
    .header {
        width: 4em;
        height: 4em;
        margin: 1.2em;
        color: #82878e;
    }
    .header svg {
        display: block;
    }
    .headerBtn {
        width: 0;
        overflow: hidden;
    }
    
    .headerX .headerBtn {
        border-left: none;
    }
    .aboutTrue {
        transform: translateX(Calc(100% + 2.4em));
        color: #ffffff;
    }
    .headerY {
        border: none;
    }
    
    .headerZ {
        border: none;
    }

    .header:hover {
        width: auto;
        height: auto;
    }
    .header:hover svg {
        display: none;
    }
    .header:hover .headerBtn {
        width: 9em;
        height: 4em;
    }
}

@media (max-width: Laptop) {
    .header {
        font-size: 0.9rem;
    }
}

@media (max-width: Tablet) {
    .header {
        font-size: 0.8rem;
    }
}
