@value Bcolor1, Bcolor5 from './common/color.css';

.threeD {
    width: 100vw;
    height: 100vh;
    background: #000000;
    overflow: hidden;
}
.flat {
    perspective: 62500rem;
}
.live {
    perspective: 250rem;
}

.screen {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.screenX {
    transform : none;
}

.screenY {
    transform : rotateX(90deg) translateY(Calc(-100vh/2)) translateZ(Calc(-100vh/2));
}

.screenZ {
    transform : rotateX(90deg) translateY(Calc(100vh/2)) translateZ(Calc(-100vh/2));
}
/* 
.zFalse {
}


.zTrue {
    transform : rotateX(90deg) translateY(Calc(-100vh/2)) translateZ(Calc(-100vh/2) translateX(-100vh));
} */