@font-face {
    font-family: 'ColorsOfAutumn';
    src: url('./css/fonts/ColorsOfAutumn.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'LeagueScript';
    src: url('./css/fonts/LeagueScript.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('./css/fonts/MapoFlowerIsland.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Sans KR", sans-serif;
    transform-style: inherit;
    user-select: none;
    transform: translate3d(0,0,0);
}

html {
    font-size: 16px;
    overflow-y: overlay;
}

#root {
    width: 100vw;
    height: 100vh;
    background: #000000;
}

.qstImg {
    min-width: 10rem;
    max-height: 15rem;
    position: absolute;
    top: -18rem;
    animation: qstImgAppear 1.5s;
}

.dtdTransform {
    transform: translate3d(-2.3px, -2.3px, 0);
}

@keyframes qstImgAppear {
    0% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@supports (-webkit-touch-callout: none) {
    #root {
        height: -webkit-fill-available;;
    }
}