@font-face {
    font-family: 'ColorsOfAutumn';
    src: url('./css/fonts/ColorsOfAutumn.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sacramento';
    src: url('./css/fonts/Sacramento-Regular.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'LeagueScript';
    src: url('./css/fonts/LeagueScript.woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.qstImg {
    min-width: 10rem;
    max-height: 15rem;
    position: absolute;
    top: -18rem;
}